/* general styles */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 248, 239);
  color: rgb(104, 94, 62);
}

.logo {
  padding: 50px;
}

.center {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

/* headings */

/* h1, h2, h3, h4 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

h1, h2, h3, h4, p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
text-align: center;
}

/* containers */

.content-container {
  display: flex;
  margin: 10vh auto 5vh;
  width: 80%;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
}

.form-container {
  display: flex;
  margin: 2vh auto 5vh;
  width: 100%;
  flex-direction: column;
  text-align: center;
  row-gap: 40px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.vertical-stretch {
  margin-top: 0vh;
  margin-bottom: 5vh;
}

.condensed {
  row-gap: 10px;
}

/* buttons */

.button-style {
  background-color: rgb(255, 248, 239);
  padding: 20px 0px;
  border: 3px solid rgb(221, 214, 199);
  border-radius: 100px;
  color: rgb(104, 94, 62);
  text-decoration: none;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
}

.button-style:hover {
  background-color: rgb(221, 214, 199);
}

.button-small {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 12px;
  padding: 10px;
}

.two-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.third-button {
  flex-shrink: 2;
}

/* forms */

.select-style {
  border: 3px solid rgb(221, 214, 199);
}

select {
  background-color: rgb(255, 248, 239);
  padding: 20px 10px;
  color: rgb(104, 94, 62);
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: none;
  border-right: 16px solid transparent;
  width: 100%;
}

input {
  background-color: rgb(255, 248, 239);
  padding: 20px 10px;
  color: rgb(104, 94, 62);
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 3px solid rgb(221, 214, 199);
  width: auto;
}

input, select, span, p, a, button {
  font-size: 16px;
}

.form-container label {
  display: block;
  text-align: left;
  margin-left: 10%;
  padding-bottom: 5px;
  color: rgb(104, 94, 62, 0.5);
}

.last-input {
  margin-bottom: 30px;
}

/* tables */

.table-container {
  width: 100%;
  overflow: scroll;
}

.table-style {
  border-collapse: collapse;
  overflow: scroll;
}

.table-style td {
  padding: 5px;
  border: 2px solid rgb(104, 94, 62);
}

/* data table */

.data-container {
  border-top: 1px solid rgb(221, 214, 199);
  border-bottom: 1px solid rgb(221, 214, 199);
}

.data-container .row {
  border-top: 1px solid rgb(221, 214, 199);
  border-bottom: 1px solid rgb(221, 214, 199);
  display: grid;
  grid-template-columns: 3fr 1fr;
  text-decoration: none;
  color: rgb(104, 94, 62);
}

.data-container .row:hover, .data-container .row:active {
  background-color: rgb(221, 214, 199);
}

.data-container .row-left, .data-container .row-right {
  padding: 5px 0;
}

.data-container .row-left {
  text-align: left;
  display: flex;
  row-gap: 3px;
  flex-direction: column;
}

.data-container .row-left p:nth-child(1) {
  font-weight: bold;
}

.data-container .row-left p:nth-child(2) {
  font-size: 14px;
}

.data-container .row-right {
  text-align: right;
  margin: auto 0;
}

/* menu */

.sticky-menu {
  position: sticky;
  top: 0;
  background-color: rgb(255, 248, 239);
  padding-top: 1vh;
  padding-bottom: 2vh;
  margin-bottom: -2vh;
}

/* category */
.category-style {
  position: relative;
}

.category-style input {
  width: 100%;
    box-sizing: border-box;
}

.category-check {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 10px;
  background-color: rgb(255, 248, 239);
  /* border: 3px solid rgb(221, 214, 199); */
  border: none;
  border-radius: 10px;
}

/* .category-check:hover {
  background-color: rgb(221, 214, 199);
} */

/* .category-check:click {
  width: 150%;
} */

.category-container {
  display: none;
}

#category-options {
  display: none;
}